/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/* GLOBAL STYLES */
body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

/* NAV STYLES */
nav {
  padding-top: 20px;
}

nav a{
  font-size: 24px;
  margin-left: 40px;
  font-weight: bold;
}

/* LANDING PAGE STYLES */
.landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.welcome {
  text-align: left;
  width: 30%;
  margin-left: 5%;
}

.welcome p {
  font-size: 24px;
}

.user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.user-buttons button {
  margin-right: 20px;
  width: 100px;
}

.header-img {
  width: 600px;
}

/* SIGN UP PAGE STYLES */
.signup-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem auto 0;
}

.signup-container img {
  width: 350px;
}