/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/* GLOBAL STYLES */
body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

/* LOGIN STYLES */
.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding-top: 6rem;
}

#sign-in-widget {
  position: fixed;
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.welcome {
  text-align: left;
  width: 30%;
  margin-left: 5%;
}

.welcome p {
  font-size: 24px;
}

.user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header-img {
  width: 600px;
}

/* HOME PAGE STYLES */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topics-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%; 
}

/* TOPICS LIST STYLES */
.topics-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 5rem;
  height: 100%;
  padding: 1rem;
  background: #7F64FF;
  border-radius: 0 20px 20px 0;
  margin-right: 2rem;
}

.topics-list-bg {
  width: 5rem;
  height: 100vh;
  padding: 1rem 0;
  background: #7F64FF;
  border-radius: 0 20px 20px 0;
  margin-right: 2rem;
  position: absolute;
  z-index: -1;
}

.topics-list-title {
  color: #7F64FF;
  font-weight: bold;
}

.topic-list-item {
  width: 3rem;
  height: 3rem;
  background: #FFFFFF;
  margin: 1rem 0;
  padding: 1rem 0;
  border-radius: 50%;
  position: relative;
}

.topic-list-item:hover {
  cursor: pointer;
}

.topic-list-item h3, h4 {
  color: #7F64FF;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  height: 20px;
}

.anticon-star {
  text-align: center;
  position: absolute;
  top: 0%;
  left: -3%;
  opacity: 30%;
  font-size: 50px;
}

/* TOPIC CONTENT STYLES */
.topic-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem 0;
  position: absolute;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #7F64FF;
  margin: 0;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

/* MAIN TOPIC STYLES */
.main-topic-container {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  width: 90%;
  margin-top: 6rem;
}

.topic-title-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.settings-button {
  border: none;
  padding-left: 1rem;
  padding-bottom: .8rem;
  background: none;
  font-size: 1.4rem;
}

.settings-button:hover {
  cursor: pointer;
}

:focus {
  outline: none;
}

.ant-dropdown-menu {
  background: white;
  border: 1px solid #7F64FF;
}

.ant-dropdown-menu li {
  color: #7F64FF;
}

.ant-dropdown-menu-item button:hover,
.ant-dropdown-menu-item-only-child button:hover {
  color: #3f337e;
  cursor: pointer;
}

.settings-menu button {
  border: none;
  background: none;
  font-size: 1rem;
}

.hidden-edit {
  display: none;
}

.topic-name { 
  color: #7F64FF;
  font-weight: bold;
}

.topic-name h3 {
  color: #7F64FF;
  font-weight: bold;
}

.main-topic-extra-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-topic-extra-details h3 {
  color: #7F64FF;
  /* margin-left: 2.4rem; */
  border: 1px solid #7F64FF;
  border-radius: 20px;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 0;
}

.join-code {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.ant-btn-lg {
  width: 200px;
}

.join-code textarea {
  border: none;
  margin-top: 1.5rem;
  margin-left: 1rem;
  resize: none;
  color: #7F64FF;
  background: none;
}

.join-code textarea:hover {
  cursor: pointer;
}

.join-code span {
  font-weight: bold;
}

.new-request-button {
  margin-bottom: 1rem;
  width: 305px;
}

.survey-request-context {
  width: 330px;
  margin-top: 2rem;
}

.survey-request-context h2 {
  text-align: left;
  font-weight: bold;
}

/* SURVEY REQUEST STYLES */
.survey-requests {
  margin-top: 1rem;
}

.survey-requests h3 {
  font-weight: bold;
  color: #7F64FF;
}

.ant-select {
  width: 305px;
}

/* RESPONSE STYLES */
/* .response-card {
  background: rgba(234, 234, 234, 0.5);
  border-radius: 20px;
  padding: 1rem 2rem;
} */

.response-answer {
  display: flex;
  align-items: center;
  color: black;
  text-align: left;
  font-weight: 500;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  width: 80%;
  margin-bottom: 1rem;
}

.response-answer:hover {
  cursor: pointer;
}

.response-form {
  width: 80%;
}

.response-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.response-buttons button {
  margin-left: 1rem;
}

.ant-drawer .ant-drawer-content {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

/* NEW TOPIC STYLES */
@media screen and (max-width: 1600px) {
  .progress-bar {
    display: none;
  }
}

.closed {
  display: none;
}

.response-list{
  display: table-column;
  justify-items: center;
  align-items: flex-start;
  width: 50%;
  margin-left: 4rem;
}

.response-list h2 {
  font-weight: bold;
  color: #7F64FF;
}

.ant-form-item {
  padding: 0;
  margin-bottom: 0;
}

.remove-question-button {
  border: none;
  margin-bottom: 1rem;
  padding: 4px 2px;
}

.remove-question-button p {
  border: none;
  opacity: 80%;
}

.remove-question-button p:hover {
  text-decoration: underline;
  opacity: 100%;
}

.add-question-button {
  margin-top: 1rem;
}