/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/* GLOBAL STYLES */
body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

/* LANDING PAGE STYLES */
.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

#sign-in-widget {
  position: fixed;
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.welcome {
  text-align: left;
  width: 30%;
  margin-left: 5%;
}

.welcome p {
  font-size: 24px;
}

.user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.user-buttons button {
  margin-right: 20px;
  width: 100px;
}

.header-img {
  width: 600px;
}

/* HOME PAGE STYLES */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.logo {
  font-size: 24px;
  margin-left: 40px;
  font-weight: bold;
  color: #7F64FF;
}

.topics-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 2rem 0 0 4rem;
}

.topics-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35%;
}

.main-topic {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  width: 65%;
}

.context_options {
  display: flex;
  flex-direction: column;
}

.save-warning {
  color: red;
}

.form-question {
  margin-bottom: 10px;
}

.save-button {
  border: none;
  margin-bottom: 10px;
}

/* TOPICS LIST STYLES */
.topic-name { 
  width: 300px;
  background: rgb(196, 196, 196);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 20px;
}

.topic-name h3 {
  color: #7F64FF;
  font-weight: bold;
}