@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

nav {
  padding-top: 20px;
}

nav a{
  font-size: 24px;
  margin-left: 40px;
  font-weight: bold;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(0%, 50%);
}

.welcome {
  text-align: center;
  width: 40%;
}

.welcome p {
  font-size: 24px;
}

.user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-buttons button {
  margin: 0 40px;
  width: 100px;
}

.signup-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem auto 0;
}

.signup-container img {
  width: 350px;
}